.index{
  
    height: 100vh !important;
}
.content{
    margin: 30px auto;
    width: 70%;
 
    height: auto;
    background-color:hsl(0, 0%, 100%);
 
    display: table;
    
    box-shadow:0px 0px 1px rgb(236, 236, 236), 0 3px 6px rgba(151, 151, 151, 0.23);
   padding:10px;
    .title{
        padding: 10px;
        font-size: 1.4em;
        width: 100%;
        background-color:hsl(0, 0%, 100%);
     
            }
            .detial{
                width: 40%;
               // box-shadow:0px 0px 1px rgb(236, 236, 236), 0 3px 6px rgba(151, 151, 151, 0.23);
                float: left;
                height: auto;
               
            }
            .priceitem{
                width: 40%;
                padding: 10px;
                float: right;
                box-shadow:0px 0px 1px rgb(236, 236, 236), 0 3px 6px rgba(151, 151, 151, 0.23);

            }
}
.header
{
    background-color:hsl(0, 0%, 100%);
    height: 120px;
  
    
    box-shadow:0px 0px 1px rgb(236, 236, 236), 0 3px 6px rgba(151, 151, 151, 0.23);
    
  
  color: #000000;
    box-sizing: border-box;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1;
}
.headcontent{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding:30px;
    .headtitle{
        text-align: center;
        font-size: 2em;
        width:30%;
        padding: 10px;
    }
    
.form {
    margin-bottom: 10px !important;
    width: 60%;
     
     input{
         width: 100%;
   //border: 1px solid #b4b0b0;
   box-shadow: 0 3px 8px 0 rgba(132, 132, 132, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
  //box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
           width: 100%;
     padding: 9px 12px;
     border-radius: 15px;
   border:0px;
     }
     input:focus{
           width: 100%;
     padding: 9px 12px;
     border-radius: 15px; 
         box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
        //box-shadow: 0px 0px 1px rgb(151, 150, 150), 0 3px 6px rgba(151, 151, 151, 0.23);
        // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);

     }
      .carddiscount {
 
   color: #fff;
   font-size: 14px;
   padding: 7.7px 10px;
   position: absolute;
   top: 30px;
   right: 23.6%;
   /* border-radius: 50%; */
   border-radius: 0 15px 15px 0;
   /* border-right: 15px; */
   /* border-bottom-right-radius: 20px; */
   /* border-bottom-left-radius: 20px; */
   /* opacity: 0.7; */
   -webkit-transition: opacity 0.25s ease-in-out;
   transition: opacity 0.25s ease-in-out;
 }
 
 }
}